<h1>Recipes</h1>

<%= render 'shared/search_form',
           search_url: recipes_path,
           categories: @categories,
           cuisines: @cuisines %>

<%= turbo_frame_tag "recipes-container" do %>
  <%= render 'shared/recipes', recipes: @recipes %>
  <div id="pagination">
    <%= paginate @recipes, remote: true %>
  </div>
<% end %>